rootpanel
{
	&.devcamera
	{
		display: none;
	}
}

Score
{
    position: absolute;
    left: 100px;
	right: 100px;
    top: 10px;
    background-color: rgba( #222, 0.95 );
    border-radius: 10px;
    align-items: center;
	justify-content: center;

    .Score
    {
        padding: 10px;
        font-size: 150px;
        font-weight: bold;
        text-shadow: 4px 4px 10px rgba( black, 0.3 );
        color: white;
    }

    PlayerName
    {
        padding: 15px;
        font-family: Poppins;
        font-weight: 500;
        margin-bottom: 5px;
        color: white;
        font-size: 20px;
        align-items: center;
		justify-content: center;
        flex-direction: column-reverse;

        .Health
        {
            font-size: 15px;
        }

        image
        {
            width: 100px;
            height: 100px;
            border-radius: 100px;
        }
    }
}

WaitingPlayer
{
    position: absolute;
    left: 100px;
	right: 100px;
	top: 100px;
    bottom: 100px;
    font-size: 50px;
	font-weight: bold;
	text-shadow: 4px 4px 10px rgba( black, 0.3 );
	color: white;
    justify-content: center;
	align-items: center;
}